body {
    background-color: #aaaacc;
    font-family: 'Source Code Pro';
}
.softsheep13 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.text {
    text-align: center;
    /* user-select: none; */
}
.text::selection {
    background: none;
}
.clicktocontinue {
    opacity: 0.5;
}






/* h1 {
    text-shadow: 3px 3px 4px cyan;
    text-align: center;
    font-size: 96px;
}
h2 {
    font-size: 32px;
}
.passwordinput {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: #c1c1e8;
} */
